/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
h1 {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;

}
.content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/* Navbar Styles */
.navbar { 
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* Slider Styles */
.horizontal-scroller {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
}
.card {
    position: relative;
    flex: 0 0 auto;
    width: 300px;
    scroll-snap-align: start;
}
.card img {
    width: 100%;
    display: block;
    border-radius: 12px;
}
.overlay-text {
    font-size: 1.5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}


/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
footer p {
    color: white;
    text-align: center;
    padding: 10px 10px;
}